#conteudo_principal{
	float: left;
	width: 50%;
	background: url(../imagens/bg-area-principal.png) top left repeat-x;
	padding: 15px 0px;
}

#conteudo_beneficios{
	float:right;
	width: 50%;
	background: url(../imagens/bg-area-lateral.png) top left repeat-x;
	padding: 20px 0px;

}

.conteudo{
	margin: 0 auto;
	width: 90%;
}

#rodape{
	clear: both;
	padding: 16px;
	background: #fff url(../imagens/bg-rodape.png) repeat-x top;
	color: #7d7640;
}


#beneficios li{
	padding: 8px;
	border-bottom: 1px solid #f3efcb;
	height: 6em;
}

#beneficios li a img{
	float: left;
	margin-right:8px ;
}

#beneficios li a p{
	font-size: 0.8em;
	color: #000;
}

#beneficios li:hover{
	background: #f6f3d6;
	cursor: pointer;
}
 #grifo{
 	background: #FDF6E3;
 }