

*{
	margin: 0px;
	padding: 0px;
}


body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background:#fff url(../imagens/bg.png);
	margin: 15px;
}

#container {
	background: #ede9cc;
	margin: 0 auto;
	min-width: 740px; /*uma largura fixa para não cobrir todo logo*/
	max-width: 1180px;
}