

*{
	margin: 0px;
	padding: 0px;
}


body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background:#fff url(../imagens/bg.png);
	margin: 15px;
}

#container {
	background: #ede9cc  url(../imagens/bg-container.png) top center repeat-y;
	margin: 0 auto;
	min-width: 740px; /*uma largura fixa para não cobrir todo logo*/
	max-width: 1180px;
}

.conteudo h2{
	font-size: 1.1em;
	padding: 5px 0px;
	color: #7d7640;
}
.conteudo p{
	font-size: 1em;
	margin-bottom: 10px;
}

#beneficios li a h3{
	font-size: 0.9em;
	background:url(../imagens/ornamento.png) center right no-repeat;
	color: #615b2d;
	padding: 5px 0;
}




